USE [ScanAllAv]
GO
/****** Object:  Table [dbo].[AllAv]    Script Date: 02/01/2019 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllAv](
	[FileName] [varchar](500) NULL,
	[Location] [varchar](500) NULL,
	[Size] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finish]    Script Date: 02/01/2019 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finish](
	[IsFinish] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 02/01/2019 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[AvID] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Location] [nvarchar](1000) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[AvName] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Match] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchHistory]    Script Date: 02/01/2019 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchHistory](
	[SearchHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_SearchHistory] PRIMARY KEY CLUSTERED 
(
	[SearchHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViewHistory]    Script Date: 02/01/2019 15:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewHistory](
	[FileName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
